<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backoffice/layouts/newPostLayout}" lang="kr" class="scroll-smooth" data-theme=""
>
    <main layout:fragment="content" class="flex justify-center sm:p-4 min-h-dvh">
        <form id="post-form" class="w-full lg:w-7xl bg-white flex flex-col gap-4 rounded-xl shadow-xl">
            <div class="flex justify-between gap-2 p-4 border-b border-b-gray-200">
                <input
                        name="title"
                        type="text"
                        placeholder="제목을 입력하세요"
                        class="flex-1 text-xl lg:text-3xl font-bold outline-none placeholder:text-gray-300"
                />
                <div class="flex gap-2">
                    <button id="preview-button" class="sm:w-14 md:w-28 p-2 rounded-sm hover:bg-gray-300 hover:shadow-md hover:cursor-pointer flex justify-center items-center gap-2">
                        <span th:replace="~{fragements/icons :: icon-visibility('16px', '16px', 'text-gray-600')}"></span>
                        <span class="">미리보기</span>
                    </button>
                    <button id="upload-button" class="sm:w-14 md:w-28 p-2 rounded-sm bg-blue-600 hover:bg-blue-700 text-white shadow-md hover:cursor-pointer flex justify-center items-center gap-2">
                        <span th:replace="~{fragements/icons :: icon-upload('16px', '16px', 'text-white')}"></span>
                        <span>업로드</span>
                    </button>
                </div>
            </div>

            <div class="p-4 h-full">
                <label>
                    <textarea name="content" class="w-full p-4 bg-gray-50 text-gray-700 border border-gray-300 rounded-xl focus:outline-none field-sizing-content h-full"></textarea>
                </label>
            </div>
        </form>
    </main>
    <th:block layout:fragment="script">
        <script th:src="@{/js/common/markdown/marked.umd.js}"></script>
        <script th:src="@{/js/backoffice/post/newPost.js}"></script>
    </th:block>
</html>