API_URL=http://backend:8080
NEXT_PUBLIC_IMAGE_BASE_URL: http://backend:8080

SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/test
SPRING_DATASOURCE_USERNAME=test
SPRING_DATASOURCE_PASSWORD=test

POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test