@import "tailwindcss";

/*@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));*/

@theme {
    --color-bg_glass: rgba(255, 255, 255, 0.8);
    --color-bg_tertiary: #f5f5f5;
    --color-bg-primary: #fafafa;

    --color-header-border: rgba(0, 0, 0, 0.08);

    --color-accent_primary: #6366f1;
    --color-accent_secondary: #8b5cf6;
    --color-accent_gradient: linear-gradient(135deg, #6366f1 0%, #8b5cf6 50%, #d946ef 100%);

    --color-primary: #1a1a2e;
    --color-secondary: #4a4a68;
    --color-tertiary: #8888a0;
}
/*@layer base {*/
/*    [data-theme='dark']{*/
/*        --color-glass: rgba(26, 26, 46, 0.9);*/
/*    }*/
/*}*/

@variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

/* 다크 모드일 때 변수 값 덮어쓰기 */
[data-theme='dark'] {
    --color-glass: rgba(26, 26, 46, 0.9);
}

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@source "../../templates/**/*.html"