<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backoffice/layouts/newCategoryLayout}" lang="kr" class="scroll-smooth" data-theme="">
    <main layout:fragment="content" class="flex items-center justify-center min-h-dvh sm:p-4">
        <form id="category-form" class="w-full lg:w-lg p-4 bg-white flex flex-col gap-4 rounded-xl shadow-xl">
            <div class="relative m-5">
                <label for="parent-category-id"></label>
                <select id="parent-category-id" name="parent-category-id" class="appearance-none block w-full p-2.5 pr-10 text-lg border-0 border-b-2 border-gray-300 outline-none bg-transparent cursor-pointer transition-all duration-300 focus:border-blue-400">
                    <option value="" selected class="text-gray-400">부모 카테고리 선택</option>
                    <option th:each="category : ${categories}" th:value="${category.id()}" th:text="${category.categoryName()}"></option>
                </select>

                <!-- Tailwind에서는 화살표를 아이콘 컴포넌트나 아래처럼 absolute span으로 우측에 띄우는 것이 편합니다 -->
                <span class="absolute right-2 top-1/2 -translate-y-1/2 pointer-events-none text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </span>
            </div>
            <div class="relative m-5 pt-5">
                <input id="category-name"
                       name="category-name"
                       class="peer block w-full p-2.5 text-lg border-0 border-b-2 border-gray-300 outline-none bg-transparent placeholder-transparent"
                       placeholder="카테고리명"
                       type="text">

                <label for="category-name"
                       class="absolute left-0 top-0 text-sm text-gray-400 pointer-events-none transition-all duration-300 ease-in
                  peer-placeholder-shown:top-7 peer-placeholder-shown:text-lg peer-placeholder-shown:text-gray-300
                  peer-focus:top-0 peer-focus:text-sm peer-focus:text-blue-400">
                    카테고리명
                </label>

                <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-blue-400 transition-all duration-300 ease-in peer-focus:w-full"></span>
            </div>
            <div class="relative m-5 pt-5">
                <input id="slug"
                       name="slug"
                       class="peer block w-full p-2.5 text-lg border-0 border-b-2 border-gray-300 outline-none bg-transparent placeholder-transparent"
                       placeholder="슬러그(Slug)"
                       type="text">

                <label for="slug"
                       class="absolute left-0 top-0 text-sm text-gray-400 pointer-events-none transition-all duration-300 ease-in
                  peer-placeholder-shown:top-7 peer-placeholder-shown:text-lg peer-placeholder-shown:text-gray-300
                  peer-focus:top-0 peer-focus:text-sm peer-focus:text-blue-400">
                    슬러그(Slug)
                </label>

                <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-blue-400 transition-all duration-300 ease-in peer-focus:w-full"></span>
            </div>
            <div class="relative m-5 pt-5">
                <input id="description"
                       name="description"
                       class="peer block w-full p-2.5 text-lg border-0 border-b-2 border-gray-300 outline-none bg-transparent placeholder-transparent"
                       placeholder="설명"
                       type="text">

                <label for="description"
                       class="absolute left-0 top-0 text-sm text-gray-400 pointer-events-none transition-all duration-300 ease-in
                  peer-placeholder-shown:top-7 peer-placeholder-shown:text-lg peer-placeholder-shown:text-gray-300
                  peer-focus:top-0 peer-focus:text-sm peer-focus:text-blue-400">
                    설명
                </label>

                <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-blue-400 transition-all duration-300 ease-in peer-focus:w-full"></span>
            </div>

            <div class="m-5 flex items-center gap-4">
                <span class="block text-sm text-gray-400">카테고리 사용</span>
                <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" name="use_yn" value="Y" class="sr-only peer" checked>

                    <div class="w-11 h-6 bg-gray-300 rounded-full peer
                    peer-checked:bg-blue-500
                    after:content-[''] after:absolute after:top-0.5 after:left-0.5
                    after:bg-white after:border-gray-300 after:border after:rounded-full
                    after:h-5 after:w-5 after:transition-all
                    peer-checked:after:translate-x-full peer-checked:after:border-white">
                    </div>
                </label>
            </div>
            <div class="flex items-center justify-between gap-2 mx-5">
                <button id="cancel-button" class="w-full h-8 bg-gray-400 hover:bg-gray-500 focus:bg-gray-600 transition-transform duration-150 ease-in focus:scale-95 cursor-pointer" type="button">취소</button>
                <button class="w-full h-8 bg-blue-400 hover:bg-blue-500 focus:bg-blue-600 transition-transform duration-150 ease-in focus:scale-95 cursor-pointer" type="submit">저장</button>
            </div>
        </form>
    </main>
    <script layout:fragment="script" th:src="@{/js/backoffice/views/category/newCategory.js}"></script>
</html>