<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<header th:fragment="headerFragment" class="w-full sticky top-0 bg-white border-b-2 border-gray-200">
    <nav class="">
        <div class="max-w-7xl mx-auto px-6 py-4">
            <div class="flex items-center justify-between">
                <div class="text-black text-xl font-medium" style="opacity: 1;">&lt;scshin /&gt;</div>
                <div class="hidden md:flex items-center space-x-8">
                    <a
                            href="#intro"
                            class="text-black hover:text-gray-300 transition-colors duration-200 capitalize"
                            style="opacity: 1; transform: none;">home
                    </a>
                    <a
                            href="#about"
                            class="text-black hover:text-gray-300 transition-colors duration-200 capitalize"
                            style="opacity: 1; transform: none;">about
                    </a>
                    <a
                            href="#skills"
                            class="text-black hover:text-gray-300 transition-colors duration-200 capitalize"
                            style="opacity: 1; transform: none;">skills
                    </a>
                    <a
                            href="#projects"
                            class="text-black hover:text-gray-300 transition-colors duration-200 capitalize"
                            style="opacity: 1; transform: none;">projects
                    </a>
                    <a class="text-black hover:text-gray-300 transition-colors duration-200 capitalize"
                            style="opacity: 1; transform: none;">contact
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>